* {
    color: black; 
    box-sizing: border-box;
    margin: 2px;
    padding: 0;
}

h1{
    color: green;
}
h2{
    color: brown;
}

#Tech h2{
    color: rgb(255, 0, 13);
}

.creation-date {
    color: rgb(211, 208, 221);
}

